* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow: hidden;
    padding: 20px;
}

.topEditor {
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 5px;
    width: 15%;
    position: absolute;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.topEditor input[type="range"],
.topEditor input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

.topEditor button {
    border: none;
    background-color: #808080;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.topEditor button:hover {
    background-color: #696969;
}

.stage {
    height: 100vh;
}

input[type='range']#red-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: red;
}

input[type='range']#green-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: green;
}
